.navbar {
  padding: 2em;
}

.container-fluid img{
  margin-left: 3em;
}

.section1 {
  background-image: url("images/box1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #f7f7f7;
  padding-top: 6em;
  padding-bottom: 8em;
}

.section1 h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;
}

.section1 h2 {
  /* H4 */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */

  text-align: center;
  letter-spacing: 0.2px;

}

.btn-danger
{
    background-color: #FA4A0C;
}

.btn-lg{
    border-radius: 30px;
    width: 180px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 20px;
}

.btn{
  width: 199px;
  height: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.1px;
}

.section1 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.nav-btn {
  border: none;
  background: none;
  /* Link */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  text-align: center;
  letter-spacing: 0.2px;
  margin-left: 4em;

  /* text */

  color: #252B42;
}

.nav-btn:hover {
  color: #FA4A0C;
}

/* section-2 ////////////////////////////////////////////////////////////////*/



.mid-section
{
  /* position: relative;
  top: 30em;
  z-index: 1; */
  text-align: center;
}

.phone1
{
  background : transparent;
  object-fit: none;
  z-index: 1;
  margin-top: -17em;
  margin-left: -9em;
}
.phone2
{
  margin-left: -16.1em;
  margin-top: -12em;
}



/*footer-section ////////////////////////////////////////////////////////////////*/


.footer {
  padding-top: 2em;
  padding-bottom: 1em;


}


.fontg {
  text-align: center;
}

.foot{
  position: relative;
  left: 8em;
  bottom: 0.5em;
  text-align: center;

}

.font {
  color: #FA4A0C;
  font-size: 2.2em;
  margin-left: 0.7em;
  margin-right: 0.7em;

}

.large {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #5C5C5C;
  position: relative;
  right: 2em;
}



/* section-3 css /////////////////////////////////////////////////////////////*/

.sec3 {
  background-image: url("images/Rectangle\ 47.png");
  background-size: 120%;
  background-repeat: no-repeat;
  padding-top: 10em;
  padding-bottom: 11.5em;
  text-align: center;
}

.sec3 h2 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.3px;
  color: #FFFFFF;

}

.sec3 p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;

}

.btn1 {

  border-color: #FA4A0C;
  background: #FA4A0C;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-right: 1em;

}




/* section-4 - Part2 ////////////////////////////////////////////////////////*/



.Section4 {
  text-align: center;

}

.heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.hr1 {
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid rgba(0, 0, 0, 0.587);

}

.Part2 img {
  object-fit: none;
  height: 40em;
  margin: auto;
  margin-left: 10em;
}

.col1 {
  margin: auto;
  margin-left: 10em;
  margin-bottom: 12em;
  text-align: left;

}

.col2 {
  margin-left: 2em;
}


.col1 h3 {
  /* display: inline; */
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  width: 12em;
  letter-spacing: 0.1px;

  color: #FA4A0C;
}

.col1 h1 {


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  /* or 142% */

  letter-spacing: 0.2px;
  /* display: inline; */
  width: 12em;

  color: #252B42;
}

.col2 h1 {
  display: inline;
  width: 14em;
}

.col1 p {

  /* display: inline; */
  width: 20em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.2px;

  /* second text */

  color: #737373;
}

.Part3 {
  margin-bottom: 0;
}


/* media-queries /////////////////////////////////////////////////////////////*/


@media (max-width: 1190px) {

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    margin-top: 2em;
  }


  .footer {
    padding-top: 5em;
    padding-bottom: 5em;

  }

  /* .container-fluid .foot{
    display: none;
    width: auto;
  } */

  footer .container-fluid img {
    display: none;

  }

  footer .container-fluid {
    width: auto;
  }

  .font {
    font-size: 2.5em;


  }
 
  .sec3 {
    background-image: none;
    background-color: #252B42;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }

  .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .hr2 {

    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.587);
    margin-bottom: 2em;
  }

  
  .ch {
    
    text-align: center;
    margin-left: 0;
  }

  .ch h3 {
    display: inline-block;
    width: 100%;
    font-size: 26px;
    margin-bottom: 1em;
  }

  .ch h1 {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .ch p {
    margin-top: 1em;
    display: inline-block;
    width: 50%;
  }

  
.Part2 {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .Part2 img {
   margin: 0;
   padding: 0;
  
  }
  .col-img {
    text-align: center;
    width: 100%;
    margin-left: 3em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }


  .col1 {

   width: 100%;
    text-align: center;
    margin-bottom: 2em;

  }

  .col2 {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
  } 

  .section1{
    background-image: none;
    background-color: #FAFAFA;
  }

  .section1 h3{
    color: #737373;
  }

  .section1 h1{
    color: #252B42;
  }

  .section1 h2{
    color: #737373;
  }

  .section1 .btn-outline-light{
    border-color: #FA4A0C;
    color: #FA4A0C;
  }


}

@media (max-width: 960px)
{
    .section1 button{
      width: 80%;
    }
}