.navbar {
  padding: 2em;
}

.section1 {
  background-image: url("images/box1.png");
  text-align: center;
  color: #f7f7f7;
  padding-top: 6em;
  padding-bottom: 6em;
}

.section1 h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;
}

.section1 h2 {
  /* H4 */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */

  text-align: center;
  letter-spacing: 0.2px;

}

.btn-danger {
  background-color: #FA4A0C;
}

.btn-lg {
  border-radius: 16px;
  width: 180px;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 20px;
}

.section1 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.nav-btn {
  border: none;
  background: none;
  /* Link */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  text-align: center;
  letter-spacing: 0.2px;
  margin-left: 4em;

  /* text */

  color: #252B42;
}

.nav-btn:hover {
  color: #FA4A0C;
}





/*footer-section */


.footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.container-fluid img {
  position: relative;
  left: 8em;
  bottom: 0.5em;
  text-align: center;

}

.font {
  color: #FA4A0C;
  font-size: 2.2em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  position: relative;
  left: 1.8em;


}

.container-fluid p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #5C5C5C;
  position: relative;
  right: 2em;
}